{% include base_path %}

{% if post.image %}
  {% capture teaser %}{{ post.image }}{% endcapture %}
{% elsif post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% elsif post.teaser %}
  {% capture teaser %}{{ post.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if teaser and teaser != "" %}
  {% if teaser contains "://" %}
    {% assign teaser_url = teaser %}
  {% else %}
    {% assign teaser_url = teaser | prepend: "/images/" | prepend: base_path %}
  {% endif %}
{% endif %}

<article class="publication__item" itemscope itemtype="http://schema.org/CreativeWork">
  {% if teaser_url %}
    <div class="publication__figure" aria-hidden="true">
      <img src="{{ teaser_url }}" alt="">
    </div>
  {% endif %}

  <div class="publication__body{% unless teaser_url %} publication__body--full{% endunless %}">
    <h2 class="publication__title" itemprop="headline">{{ title }}</h2>

    {% if post.author or post.authors %}
      <p class="publication__meta publication__meta--authors">
        {{ post.author | default: post.authors }}
      </p>
    {% endif %}

    {% if post.publisher or post.venue or post.year or post.date %}
      <p class="publication__meta publication__meta--source">
        {% if post.publisher %}{{ post.publisher }}{% elsif post.venue %}{{ post.venue }}{% endif %}
        {% if (post.publisher or post.venue) and (post.year or post.date) %}, {% endif %}
        {% if post.year %}{{ post.year }}{% elsif post.date %}{{ post.date | date: "%Y" }}{% endif %}
      </p>
    {% endif %}

    {% if post.citation %}
      <p class="publication__meta publication__meta--citation">{{ post.citation | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}

    {% if post.projecturl and post.projecturl != "" %}
      {% assign project_url = post.projecturl %}
    {% else %}
      {% assign project_url = base_path | append: post.url %}
    {% endif %}

    {% if post.paperurl or project_url %}
      <p class="publication__links">
        {% if post.paperurl %}
          <a class="publication__link" href="{{ post.paperurl }}" target="_blank" rel="noopener noreferrer">Paper</a>
        {% endif %}
        {% if post.paperurl and project_url %}
          <span class="publication__link-separator">|</span>
        {% endif %}
        {% if project_url %}
          <a class="publication__link" href="{{ project_url }}">Project Page</a>
        {% endif %}
      </p>
    {% endif %}
  </div>
</article>